---
layout: default
permalink: /dates/
---
<div class="page" id="content-list">
	<div class="wrapper">
		<div id="left-con">
		<div class="title-block" id="left-top">
			<div class="title-article"><h2>文章列表</h2></div>
		</div>
		<div class="content-block" id="left-below">
			<div class="below-wraper">
				<div class="list-list" id="left-list">
					<ul class="list-title" id="article-list">
					{% for post in site.posts %}
					<li class="postclass{{ post.date | date: '%Y%b' }} titlename" onclick=jmp("{{ site.data.global.url }}{{ post.url }}");>-{{ post.title }}<br><small><small class="post-date">&nbsp;&nbsp;&nbsp;{{ post.date | date: '%Y, %b %d' }}</small></small></li>
					{% endfor %}
					</ul>
				</div>
				<div class="funcbt up-button" id="div-button-up-list"><img src="{{ site.data.global.url }}/asset/images/up.png" id="button-up-list"></div>
				<div class="funcbt down-button" id="div-button-down-list"><img src="{{ site.data.global.url }}/asset/images/down.png" id="button-down-list"></div>
			</div>
		</div>
		</div>
		<div id="right-con">
			<div class="content-block" id="right-top">
				<div class="below-wraper" id="right-wraper">
					<div class="list-list" id="right-list">
						<ul class="list-title" id="date-list">
						<li onclick="listname('titlename' );" id='specialdatelist' style='display: none;'>显示全部</li>
						{% assign savedate='' %}
						{% for post in site.posts %}
						{% assign tempdate=  post.date | date: '%Y%b' %}
						    {% unless savedate == tempdate %}
						        {% assign savedate = tempdate %}
							<li onclick="listname('postclass{{ savedate }}');" >{{ post.date | date: '%Y-%b' }}</li>
						{% endunless %}
						{% endfor %}
						</ul>
					</div>
					<div class="funcbt up-button" id="div-button-up-sort">
						<img src="{{ site.data.global.url }}/asset/images/up.png" id="button-up-sort">
					</div>
					<div class="funcbt down-button" id="div-button-down-sort">
						<img src="{{ site.data.global.url }}/asset/images/down.png" id="button-down-sort">
					</div>
				</div>
			</div>
			<div class="title-block" id="right-below">
				<div class="title-article"><h2>时间分类</h2></div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="{{ site.data.global.url }}/asset/js/sort.js"></script>