@font-face
{
	font-family: 'zhfont';
	src: url('../fonts/HYQingYunW.ttf'); /* IE9+ */
}

@font-face
{
	font-family: 'enfont';
	src: url('../fonts/Blackie.ttf'); /* IE9+ */
}

/*隐藏list
#content-list{
	position: absolute;
	visibility: hidden;
}*/
/*隐藏article
#content-article{
	position: absolute;
	visibility: hidden;
}*/

*{
    margin:0;
    padding:0;
    list-style-type:none;
    cursor: default;
}

body{
    background-color: #ffffff;
    width: 100%;
    overflow: hidden;
}

li{
	margin: 2px 0;
	padding: 6px 0;
}

a{
	text-decoration: none;
}

.head{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 70px;
	background: rgba(243,247,250,0.95);
    -webkit-transition: top 0.3s;
    -moz-transition: top 0.3s;
    -o-transition: top 0.3s;
    -ms-transition: top 0.3s;   
    transition: top 0.3s;
}

.title{
	font-family: 'enfont';
	color: #3a3a3a;
	text-align: center;
}

#navimg{
	position: absolute;
	right: 15px;
	z-index: 2;
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    -ms-transition:all 0.2s ease;    
    transition:all 0.2s ease;
}
#navimg:hover{
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    transform:rotate(180deg); 
}

.page-bg{
	position: fixed;
	z-index: -1;
}

.page{
	width: 100%;
	margin-top: 70px;
	font-family: "zhfont";
}

#content-list li{
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;   
    transition: background 0.3s linear;
    border-radius: 10px;
    margin-right: 10px;
}
#content-list li:hover{
	background: rgba(250,250,250,0.7);
}
.wrapper{
	position: relative;
	top: 3%;
	width: 100%;
	height: 93%;
}

#left-con{
	width: 55%;
	height: 100%;
	margin-left: 10%;
	float: left;
}

#right-con{
	width: 24%;
	height: 100%;
	margin-left: 1%;
	display: inline-block;
}

.title-block{
	background: rgba(243,247,250,0.7);
	width: 100%;
	height: 15%;
	border-radius: 10px;
}
#right-below{
	margin-top: 2%;
	display: inline-block;
}

.title-article{
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	display: inline-flex;
}
.title-article h2{
	text-align: center;
	font-size: 32px;
}

.content-block{
	background: rgba(243,247,250,0.8);
	width: 100%;
	height: 85%;
	position: relative;
	border-radius: 10px;
}
#left-below{
	margin-top: 1%;
	display: inline-block;
}

.below-wraper{
	height: 100%;
	width: 100%;
}
#right-wraper{
	display: inline-block;
}

.list-list{
	height: 85%;
	font-size: 24px;
	margin: 7% 60px 0 40px;
	overflow: hidden;
	position: relative;
	border-right-style: solid;
	border-width: 3px;
	border-color: white;
}
.list-title{
	position: absolute;
	width: 100%;
    -webkit-transition: top 0.3s;
    -moz-transition: top 0.3s;
    -o-transition: top 0.3s;
    -ms-transition: top 0.3s;   
    transition: top 0.3s;
    top: 0;
}
.list-title a{
	color: black;
}
#right-list{
	margin-top: 15%;
	margin-left: 20px;
	text-align: center;
}

.funcbt{
	width: 40px;
	height: 50%;
	position: absolute;
	right: 10px;
}
.funcbt img{
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    -ms-transition: transform 0.3s;   
    transition: transform 0.3s;
	border-radius: 20px;
	visibility: hidden;
}
.funcbt img:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);  
    transform: scale(1.2);
}
.up-button{
	top: 0%;
}
.down-button{
	top: 50%;
}

.funcbt img{
	width: 40px;
	height: 40px;
	position: relative;
	margin-top: -20px; 
}
.up-button img{
	top: 70%;
}
.down-button img{
	top: 30%;
}

#artile-wrapper{
	width: 80%;
	margin-left: 10%; 
}

#text-article{
	margin-top: 1%;
	position: relative;
	display: inline-block;
}

.text-text{
	height: 90%;
	font-size: 20px;
	margin: 4% 60px 0 4%;
	overflow: hidden;
	position: relative;
}
#text-content{
	position: absolute;
	width: 100%;
    -webkit-transition: top 0.3s;
    -moz-transition: top 0.3s;
    -o-transition: top 0.3s;
    -ms-transition: top 0.3s;   
    transition: top 0.3s;
    top: 0;
}

.wrapper-bar{
	width: 240px;
	position: absolute;
	top: -434px;
	right: 0;
    -webkit-transition: top 0.3s;
    -moz-transition: top 0.3s;
    -o-transition: top 0.3s;
    -ms-transition: top 0.3s;   
    transition: top 0.3s;
    z-index: 1;
}

.tool-bar{
	background: rgba(243,247,250,0.93);
	width: 100%;
	margin-bottom: 4px;
	display: inline-block;
	font-family: zhfont;
	font-size: 24px;
	border-radius: 7px;
}

.bar1{
	height: 70px;
}
#bar-title{
	justify-content: flex-start;
	padding-left: 10px;
}

.bar3,.bar2{
	text-align: center;
	padding: 10px 0;
}
.bar3 li,.bar2 li{
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;   
    transition: background 0.3s linear;
}
.bar3 h3{
	padding-top: 10px;
}
.forabsoulute{
	position: relative;
}
.contact-link:hover,.bar2 li:hover{
	background: rgba(250,255,255,1);
}
.contact-link a{
	color: black;
}
.bar4{
	font-size: 13px;
	text-align: center;
	color: #a3a3a3;
	padding: 4px 0;
}

.post-date{
	color: #3a3a3a;
}
.post-date span{
	padding: 3px;
	border: 2px solid white;
	background: rgba(250,250,250,0.6);
}

.titlename{
	padding-left: 10px;
}

.middle-page{
	width: 60%;
	height: 100%;
	margin-left: 20%;
}