<head>
	<meta charset="utf-8">
	<title>Rmdyh's Home</title>

	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-app-capable" content="yes">
    <meta name="apple-mobile-app-status-bar-style" content="black">

	<meta name="description" content="这是一个由rmdyh设计和维护的用于记录学习轨迹而开设的博客。Welcome!This is a blog designed by rmdyh.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

	<link rel="shortcut icon"  type="image/x-icon" href="{{ site.data.global.url }}/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="{{ site.data.global.url }}/asset/css/main.css">

</head>
