<header class="head">
	<div class="title" id="main-title"><h1>Rmdyh's Home</h1></div>
</header>
<img id="navimg" src="{{ site.data.global.url }}/asset/images/navico.png">
<div class="wrapper-bar">
	<div class="bar1 tool-bar">
		<div class="title title-article" id="bar-title"><h1>Rmdyh's Home</h1></div>
	</div>
	<div class="bar2 tool-bar">
		<ul>
			<li class="contact-link"><a href="{{ site.data.global.url }}/dates/">按时间分类</a></li>
			<li class="contact-link"><a href="{{ site.data.global.url }}/tags/">按文章标签分类</a></li>
			<li class="contact-link"><a href="{{ site.data.global.url }}">回到首页</a></li>
		</ul>
	</div>
	<div class="bar3 tool-bar">
		<h3>Contact Me</h3>
		<ul>
			<li class="contact-link"><a href="tencent://message/?uin={{ site.data.global.admin_qq }}">QQ</a></li>
			<li class="contact-link"><a href="mailto:{{ site.data.global.admin_email }}">E-mail</a></li>
		</ul>
	</div>
	<div class="bar4 tool-bar">图片资源 来自网络 如有侵权 敬请告知</div>
</div>
