<header class="head">
	<div class="title" id="main-title"><h1>Rmdyh's Home</h1></div>
</header>
<img id="navimg" src="{{ site.data.global.url }}/asset/images/navico.png">
<div class="wrapper-bar">
	<div class="bar1 tool-bar">
		<div class="title title-article" id="bar-title"><h1>Rmdyh's Home</h1></div>
	</div>
	<div class="bar2 tool-bar">
		<ul>
			<li>按时间分类</li>
			<li>按文章标签分类</li>
			<li>回到首页</li>
		</ul>
	</div>
	<div class="bar3 tool-bar">
		<h3>Contect With Me</h3>
		<ul>
			<li id="qqlink">QQ</li>
			<li id="emaillink">E-mail</li>
		</ul>
	</div>
	<div class="bar4 tool-bar">图片资源 来自网络 如有侵权 敬请告知</div>
</div>
