---
layout: default
---

<div class="page" id="content-article">
		<div class="wrapper" id="artile-wrapper">
			<div class="title-block">
				<div class="title-article">
					<h2>{{ page.title }}<h2>
				</div>
			</div>
			<div id="text-article" class="content-block">
				<div class="funcbt up-button" id="div-button-up-text">
					<img src="{{ site.data.global.url }}/asset/images/up.png" id="button-up-text">
				</div>
				<div class="funcbt down-button" id="div-button-down-text">
					<img src="{{ site.data.global.url }}/asset/images/down.png" id="button-down-text">
				</div>
				<div class="text-text" id="text-text">
				<div id="text-content">{{ content }}</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{{ site.data.global.url }}/asset/js/ZeroClipboard.js"></script>
	<script type="text/javascript" src="{{ site.data.global.url }}/asset/js/post.js"></script>
